:root {
    --primary-text-color: #212121;
    --secondary-text-color: #757575;
    --accent-color: #2196F3;
    --primary-white-color: #FFFFFF;
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}


/* Палитра:
основной цвет текста #212121 
вторичный цвет текста #757575
акцент #2196F3
основной белый #FFFFFF
вторичный цвет фона E5E5E5
элементы лого #000000
элементы футера rgba(255, 255, 255, 0.6)
вторичный элемент футера rgba(255, 255, 255, 0.4) 

Шрифты:
Roboto: 400, 500, 700, 900
Raleway: 700 
*/

body {
    font-family: roboto, noto, segoe ui, arial, sans-serif;
    font-style: normal;
    background-color: var (--primary-white-color);
    color: var (--primary-text-color);
}

address {
    font-style: normal;
}

h1,
h2,
h3,
p,
img {
    margin: 0;
    padding: 0;
}


/* утилитарные классы линк и лист */

.container {
    /* display: flex; */
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    padding: 0px 15px;
}

.link {
    text-decoration: none;
    color: inherit;
    /* font-style: inherit; */
}

.list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.content-img {
    display: block;
}


/* Site header */

.page-header {
    position: sticky;
    top: 0;
    left: 0;
    background-color: var(--primary-white-color);
    border-bottom: 1px solid #ECECEC;
    z-index: 10;
}


/* логотип */

.logo {
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: black;
    text-decoration: none;
}

.logo .web {
    color: #2196F3
}


/* site navigation */

.main-nav {
    display: flex;
    align-items: center;
}

.site-nav {
    display: flex;
    align-items: center;
    /* padding-top: 24px;
    padding-bottom: 25px; */
    color: var (--primary-text-color);
}

.site-nav .logo {
    margin-right: 85px;
}

.site-nav .list {
    display: flex;
    align-items: center;
}


/* .site-nav .item+.item {
    margin-left: 50px;
} */

.site-nav .item:not(:nth-last-child(1)) {
    margin-right: 50px;
}

.site-nav .link {
    position: relative;
    display: block;
    padding-bottom: 32px;
    padding-top: 32px;
    color: inherit;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.site-nav .link.current::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    border-radius: 4px;
}

.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--accent-color);
}


/* contact links */

.contacts {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.contacts .list {
    display: flex;
    align-items: center;
}


/* иконки в адресные ссылки, дальше будут SVG спрайтами */

.contacts .item .link {
    display: flex;
    align-items: center;
}


/*.contacts .item::before {
    display: flex;
    align-items: center;
    content: "";
    width: 16px;
    height: 12px;
    background-image: url(../images/envelope.svg);
    background-size: contain;
    margin-right: 10px;
    background-repeat: no-repeat;
}

.contacts .item:nth-last-child(1)::before {
    width: 10px;
    height: 15px;
    background-image: url(../images/smartphone.svg);
    background-size: contain;
    background-repeat: no-repeat;
}
*/

.contacts .item:not(:nth-last-child(1)) {
    margin-right: 30px;
}

.contacts .link {
    display: block;
    color: var(--secondary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.contacts .link:hover,
.contacts .link:focus {
    color: var(--accent-color);
}

.contacts .icon {
    fill: currentColor;
    margin-right: 10px;
}


/* Герой */

.hero-section {
    padding-top: 200px;
    height: 600px;
    background-color: rgba(47, 48, 58, 0.8);
    text-align: center;
    background-image: linear-gradient( rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url(../images/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.hero-title {
    margin-bottom: 30px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--primary-white-color);
}

.button {
    display: inline-block;
    padding: 10px 32px;
    min-width: 200px;
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: var(--accent-color);
    color: var(--primary-white-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    text-align: center;
    letter-spacing: 0.06em;
}

.button.link:hover,
.button.link:focus,
.footer.button:hover,
.footer.button:focus {
    background-color: #188CE8;
}


/* Features section */


/* скрытый логически заголовок */

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.section.features .container {
    padding-top: 94px;
    padding-bottom: 94px;
}

.features .list {
    display: flex;
    justify-content: space-between;
}

.features-list .item {
    display: inline-block;
    width: calc( ( 100% - 90px) / 4);
}

.features-list .item::before {
    content: "";
    display: flex;
    /* justify-content: center;
            align-items: center; */
    height: 120px;
    margin-bottom: 30px;
    background-color: #2196F3;
    background-image: url(../images/antenna-1.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: #F5F4FA;
}

.features-list .item:nth-child(2)::before {
    background-image: url(../images/clock.svg);
}

.features-list .item:nth-child(3)::before {
    background-image: url(../images/diagram.svg);
}

.features-list .item:nth-child(4)::before {
    background-image: url(../images/astronaut.svg);
}

.features-list .item:hover {
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
}


/* .features-list .item:not(:nth-last-child(1)) {
    margin-right: 30px;
}  */


/* .features-img {
    width: 270px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F5F4FA;
    margin-bottom: 30px;
} */

.features .item .section-subtitle {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.section-description {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
}


/* "our works" section */

.section.works .container {
    padding-bottom: 94px;
}

.section-title {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
}

.works-list .list {
    display: flex;
}

.works-list .item {
    position: relative;
    width: calc(( 100% - 60px) / 3);
}

.works-list .item:not(:nth-last-child(1)) {
    margin-right: 30px;
}

.works-description {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70px;
    background-color: rgba(47, 48, 58, 0.8);
    /* padding: 27px 83px; */
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-white-color);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}


/* our team section */

.section.team {
    padding-top: 94px;
    padding-bottom: 94px;
    /* margin-bottom: 94px; */
    background-color: #F5F4FA;
    font-size: 16px;
    line-height: 1.19;
    /* text-align: center; */
    letter-spacing: 0.03em;
}

.section.team .container {
    margin-bottom: 0;
}

.teammates-photo img {
    display: block;
}

.team-list .list {
    display: flex;
}


/* вот тутдва козлячих селектора, но иначе ломается */

.team-list>.list>.item {
    width: calc( ( 100% - 90px) / 4);
    background-color: var(--primary-white-color);
    text-align: center;
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
    border-radius: 0px 0px 4px 4px;
}

.team-list>.list>.item:not(:nth-last-child(1)) {
    margin-right: 30px;
}

.teammates {
    margin-top: 30px;
    margin-bottom: 10px;
    font-weight: 500;
}

.teammates-position {
    margin-bottom: 16px;
    font-weight: 400;
    color: var(--secondary-text-color);
}

.social-links.list {
    display: flex;
    padding-bottom: 24px;
    justify-content: center;
}


/* сслыки на соц сети будут SVG спрайтами */

.social-links.list .item {}

.social-links.list .link {
    display: flex;
    align-items: center;
    justify-content: center;
    /* display: block; */
    width: 44px;
    height: 44px;
    /* border: 1px solid #000; */
    border-radius: 50px;
    /* background-image: url(../images/instagram-2.svg);
    background-position: center;
    background-repeat: no-repeat; */
}


/* .social-links.list .item a {
    display: inline-block;
} */


/*
.social-links.list .item:nth-child(2) {
    background-image: url(../images/facebook-2.svg);
}

.social-links.list .item:nth-child(3) {
     background-image: url(../images/twitter-2.svg);
}

.social-links.list .item:nth-child(4) {
 background-image: url(../images/linkedin-2.svg); 
}
*/

.social-links.list .item:not(:nth-last-child(1)) {
    margin-right: 10px;
}

.social-links .link:hover,
.social-links .link:focus {
    background-color: var(--accent-color);
    /* border: 1px solid var(--accent-color); */
    border-radius: 50px;
}

.social-links .icon {
    --color1: #AFB1B8;
    --color2: #AFB1B8;
}

.social-links .item:hover .icon {
    --color1: #FFFFFF;
    --color2: #FFFFFF;
}


/* "our clients" section */

.section.clients .container {
    padding-top: 94px;
    padding-bottom: 94px;
}

.clients .list {
    display: flex;
    justify-content: space-between;
}

.clients.list .link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 90px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    color: #AFB1B8;
}

.client.icon {
    fill: currentColor;
}

.clients.list .link:hover,
.clients.list .link:focus {
    border: 1px solid var(--accent-color);
    color: var(--accent-color);
}


/* Footer */

.site-footer {
    padding-top: 57px;
    padding-bottom: 21px;
    background-color: #2F303A;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--primary-white-color);
}

.main-footer {
    padding-bottom: 28px;
    margin-bottom: 18px;
    display: flex;
    align-items: baseline;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.main-footer .container {
    display: flex;
    align-items: baseline;
}

.main-footer .logo {
    display: block;
    margin-bottom: 8px;
}

.footer-address {
    margin-right: 69px;
}

.footer-address .item {
    display: block;
}

.footer-address .item:not(:nth-last-child(1)) {
    margin-bottom: 9px;
}

.footer-logo {
    color: var(--primary-white-color);
}

.footer-address .link {
    color: rgba(255, 255, 255, 0.6);
}

.footer-social-links.list {
    display: flex;
}

.footer-social-links .link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 43px;
    height: 43px;
    border: 1px solid transparent;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50px;
    /* background-image: url(../images/instagram-1.svg);
    background-repeat: no-repeat;
    background-position: center; */
}

.social-links .item:nth-child(2) {
    /* background-image: url(../images/twitter-1.svg); */
}

.social-links .item:nth-child(3) {
    /* background-image: url(../images/facebook-1.svg); */
}

.social-links .item:nth-child(4) {
    /* background-image: url(../images/linkedin-1.svg); */
}

.social-links .item:not(:nth-last-child(1)) {
    margin-right: 10px;
}

.social-links .item:hover,
.social-links .item:active {
    /* border: 1px solid var(--accent-color); */
    background-color: var(--accent-color);
    border-radius: 50%;
}

.footer-subtitle {
    display: block;
    margin-bottom: 20px;
    font-weight: 700;
    text-transform: uppercase;
}

.main-footer .subscribe {
    margin-left: auto;
}

.futer.button {
    padding-left: 28px;
    padding-right: 28px;
}

.footer.button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.footer.button .icon {
    margin-left: 10px;
}


/* .footer.button::after {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    content: "";
    width: 24px;
    height: 24px;
    background-image: url(../images/icon-send.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain; 


}*/

.input-place.button {
    min-width: 358px;
    margin-right: 12px;
    background: #2F303A;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    text-align: left;
    color: rgba(255, 255, 255, 0.6);
}

.subscribe .form {}

.copyrite {
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    text-align: center;
    color: rgba(255, 255, 255, 0.4);
}